.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.mat-sidenav {
  width: 230px;
}
.example-toolbar {
  position: fixed;
  z-index: 2;
}
.example-app-name {
  margin-left: 20px;
}
.app-body {
  margin-top: 64px;
}
